$light-blue: #E6EDF7;

.about-us-section{
  background-image: url('http://res.cloudinary.com/dpuzgzqir/image/upload/v1497541257/coffee-beans_kenwxf.jpg');
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;

  .overlay {
    background-color: $light-blue;
    opacity: 0.75;
    height: 100vh;
    width: 100vw;
  }
}
