@import 'breakpoint';

.landing-section {
  background-color: #F6F5F3;
  height: 100vh;

  .logo {
    display: block;
    margin: auto;
    max-height: 90%;
    max-width: 90%;
    padding-top: 35%;

    @include breakpoint(medium){
      padding-top: 5%;
      max-height: 75%;
    }

    @include breakpoint(large){
      max-width: 85%;
      padding-top: 6%;
    };
  }

  .down-arrow-link {
    text-decoration: none;
  }

  .nav-down {
    font-size: 3rem;
    color: #434747;
    display: block;
    text-align: center;
    margin-top: 45%;

    @include breakpoint(medium) {
      font-size: 4rem;
      // color: #F6F5F3;
      // background-color: #434747;
      border-radius: 10%;
      padding-bottom: 1%;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      bottom: 1rem;
    }

    @include breakpoint(large) {
      font-size: 5rem;
      color: #F6F5F3;
      background-color: #434747;
      right: 3.5%;
      position: absolute;
      bottom: 1rem;
      padding: 0.5rem;
      padding-bottom: 1%;
      border-radius: 10%;
    }
  }

    .nav-down:hover {
      color: #434747;
      background-color: #F6F5F3 ;
    }
}
