.landing-section {
  background-color: #D6C8AE;
  height: 100vh;

  .logo {
    display: block;
    margin: auto;
    padding-top: 6%;
    max-height: 75%;
    max-width: 75%;
    // padding-top: 40%;
  }

  .nav-down {
    font-size: 3rem;
    color: #434747;
    display: block;
    text-align: center;

    @media (min-width: 600px) {
      margin-top: 2%;
      font-size: 4rem;
    }

    @media(min-width: 1000px) {
      font-size: 5rem;
      display: inline;
      position: fixed;
      top: 40%;
      margin-left: 90%;
    }
  }
}
