.navbar {
  position: fixed;
  max-width: 15rem;
  right: 3%;
  top: 20%;
  z-index: 1;

  .links {
    list-style-type: none;
    padding: 1rem;
    background-color: white;
    padding: 0;
  }

  a {
    border: 1px solid black;
    border-bottom: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: block;
    color: black;

  }
  a:last-child{
    border-bottom: 1px solid black;
  }

  a:hover {
    background-color: #434747;
    color: white;
  }

}
