.products {
  background-color: #F6F5F3;
  min-width: 100vw;

  h2 {
    text-align: center;
  }

  .products-header {
    font-size: 2.5rem; 
    text-align: center;
    font-family: 'Homemade Apple', 'Serrif';
    font-weight: '700';
  }

  .product-tile {
    color: black;
    padding: .5rem;
    height: 10rem;

    h3 {
      font-family: 'Roboto Slab', cursive;
      font-size: 2rem;
      text-align: center;
      margin: 0;
    }

    p {
      font-size: 1.5rem;
      text-align: center;
      font-family: 'Roboto Slab';
      padding: 0;
    }
  }
}
